@page
@model mhmdhidry.Pages.AboutModel
@{
}

<div id="main-wrapper">

	<!-- ============================ Page Title Start================================== -->
	<section class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">

					<div class="breadcrumbs-wrap">
						<h1 class="breadcrumb-title">درباره ما</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">خانه</a></li>
								<li class="breadcrumb-item active" aria-current="page">درباره ما</li>
							</ol>
						</nav>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- ============================ Page Title End ================================== -->
	
	<!-- ========================== About Facts List Section =============================== -->
	<section>
		<div class="container">

			<div class="row align-items-center">

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="about-short">
						<div class="sec-heading mb-3">
							<h2>درباره  <span class="theme-cl">محمد حیدری </span>و مجموعه آموزشی</h2>
						</div>
						<p>
							من محمد حیدری هستم ؛
							<br />
							از سال ۱۳۸۳ برنامه نویسی رو شروع کردم و پروژه های مختلفی از جمله
							تجاری سازمانی و...
							داخل و خارج کشور تجربه کردم.
							هر پروژه ای که قبول کردم باعث شده تجربه جدیدی هم به تجربه هام اضافه بشه.
							<br />
							به غیر از بحث برنامه نویسی ، به دلیل علاقه به دیجیتال مارکتینگ ، کسب و کار اینترنتی داشتم و در این حوزه هم فعالیت کردم.
							<br />
							یکی از کارهایی که بهش علاقه دارم
							راه اندازی کسب و کارهای مختلف هست ،
							تجربه خوبی هم در این زمینه دارم ؛
							خیلی سریع میتونم در عرض یک ماه یک کسب و کار رو شروع کنم ؛
							«مخصوصا کسب و کار اینترنتی »
							<br />
							اما علت اینکه چرا تصمیم گرفتم دوره های آموزش برنامه نویس رو به شما عزیزان ارائه بدم چالشی بود که چندین ساله برام اتفاق افتاده.
							<br />
							طی این چند سال اخیر برخی مواقع که به همکار برنامه نویس احتیاج داشتم.
							طی مصاحبه هایی که با افراد کارجو داشتم به این نتیجه رسیدم که  :	
							<br />
							دوره های آموزشی که افراد شرکت کردن
							<br />
							یا کامل نبوده یا حتی اگه کامل هم بوده پروژه محور نبوده !!
							<br />
							در واقع هیچ‌مسیر و هدفی رو برای آموزش در نظر نگرفتند!
							<br />
							در نتیجه افراد هنرجو هیچ نمونه کار و خروجی نداشتند و همین نکته باعث شده برای بازار کار مناسب نباشند!
							<br />
							در واقع در این سبک آموزش ، هیچ تجربه ای به افراد هنرجو انتقال داده نمیشه...!
							<br />
							به خاطر همین تصمیم گرفتم آموزش هارو ارائه بدم تا بتونم تجربه هامو انتقال بدم و باعث بشه افرادی که به این حوزه علاقه دارند تخصصی این حرفه رو آموزش ببینند و در کشورمون این صنعت رو رشد بدیم.
						</p>
						
						<div class="cource_facts">
							<ul>
								<li><span class="theme-cl">18+</span>سال سابقه</li>
								<li><span class="theme-cl">25+</span>پروژه موفق</li>
								<li><span class="theme-cl">15+</span>حوزه تخصصی</li>
							</ul>
						</div>					
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="list_facts_wrap_img">

						<img src="assets/img/about.png" class="img-fluid" alt="محمد حیدری">

					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- ========================== About Facts List Section =============================== -->
	

</div>
