@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner shadow rlt" style="background:rgba(254, 65, 53,0.1);">
	<div class="container">
		<!-- Type -->
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="banner-search-2 transparent">
					<h1 class="big-header-capt cl_2 mb-0">آموزش برنامه نویسی<br><span> از صفر تا کسب درآمد دلاری</span></h1>
					<p>طراحی سایت ، برنامه نویسی سایت ، برنامه نویسی اپلیکیشن و برنامه نویسی بلاکچین</p>
					<div class="banner-search shadow_high">
						<div class="search_hero_wrapping">
							<div class="row">

								<div class="col-lg-12 col-md-12 col-sm-12 pr-0">
									<div class="form-group none">
										<a href="/devreg" class="btn search-btn full-width">مینی دوره کسب درآمد از برنامه نویسی</a>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="circle_flixio">
					<img class="img-fluid" src="assets/img/circle-6.png" alt="">
				</div>
				<div class="flixio">
					<img class="img-fluid" src="assets/img/st-4.png" alt="">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Featured Courses Start ================================== -->
<section class="gray min-sec">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-6 col-sm-12">
				<div class="sec-heading center">
					<p>بصورت پروژه عملی و وبینار های پرسش و پاسخ</p>
					<h2>دوره آموزش <span class="theme-cl">طراحی سایت</span> </h2>

				</div>
			</div>
		</div>

		<div class="row">

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/front-end-web-development.jpg" class="img-fluid" alt=""></a>						
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="#">دوره آموزشی html,css</a></h4>
					</div>					

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>						
					</div>
				</div>
			</div>

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/js.png" class="img-fluid" alt=""></a>						
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="course-detail.html">دوره آموزشی javascript</a></h4>
					</div>					

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/jQuery.png" class="img-fluid" alt=""></a>
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="course-detail.html">دوره آموزشی jQuery</a></h4>
					</div>

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/bootstrap1.jpg" class="img-fluid" alt=""></a>						
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="course-detail.html">دوره آموزشی Bootstrap</a></h4>
					</div>

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/flexbox.jpeg" class="img-fluid" alt=""></a>
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="course-detail.html">دوره آموزشی flexbox , css grid</a></h4>
					</div>

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Grid 1 -->
			<div class="col-lg-4 col-md-6">
				<div class="education_block_grid style_2">
					<div class="education_block_thumb n-shadow">
						<a href="course-detail.html"><img src="assets/img/sass.png" class="img-fluid" alt=""></a>
					</div>

					<div class="education_block_body">
						<h4 class="bl-title"><a href="course-detail.html">دوره آموزشی sass</a></h4>
					</div>

					<div class="education_block_footer">
						<div class="education_block_author">
							<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/profile.jpg" class="img-fluid" alt=""></a></div>
							<h5><a href="instructor-detail.html">محمد حیدری</a></h5>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- ============================ Featured Courses End ================================== -->

<!-- ========================== About Facts List Section =============================== -->
<section>
	<div class="container">

		<div class="row align-items-center">

			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="list_facts_wrap">
					<div class="sec-heading mb-3 f-24">
						<h2>ویژگی دوره های آموزش  <span class="theme-cl"> برنامه نویسی </span> ما </h2>
					</div>
					<div class="list_facts">
						<div class="list_facts_icons"><i class="ti-desktop"></i></div>
						<div class="list_facts_caption">
							<h4>نظارت دقیق و ارزیابی عملکرد دانشجویان</h4>
							<p>هر کجای ایران که هستید، با پشتیبانی مستمر در طول دوره و بعد از آن کنار شما هستیم.</p>
						</div>
					</div>
					<div class="list_facts">
						<div class="list_facts_icons"><i class="ti-heart"></i></div>
						<div class="list_facts_caption">
							<h4>آموزش های پروژه محور</h4>
							<p>تمامی دوره های آموزشی دارای پروژه عملی میباشد.</p>
						</div>
					</div>
					<div class="list_facts">
						<div class="list_facts_icons"><i class="ti-harddrives"></i></div>
						<div class="list_facts_caption">
							<h4> برگزاری وبینار آنلاین برای دوره های آموزشی</h4>
							<p>آموزش ها بصورت آنلاین می باشد و جهت رفع اشکال وبینار های پرسش و پاسخ هم هر دوره ای خواهد داشت.</p>
						</div>
					</div>
					<div class="list_facts">
						<div class="list_facts_icons"><i class="ti-heart"></i></div>
						<div class="list_facts_caption">
							<h4> رزومه سازی و آموزش کسب درآمد</h4>
							<p>در کنار آموزش برنامه نویسی به دانشجویان رزومه سازی و روش های کسب درآمد هم بصورت رایگان آموزش داده میشود.</p>
						</div>
					</div>

				</div>
				
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="list_facts_wrap_img">

					<img src="assets/img/edu_2.png" class="img-fluid" alt="" />

				</div>
			</div>

		</div>

	</div>
</section>
<!-- ========================== About Facts List Section =============================== -->

